body{
    background-color: gray;
    padding-left: 65px;
    padding-right: 80px;
}
#bilde{
    background-color: limegreen;
    border: 5px solid red;
    padding-top: 20px;
}
img{
    border: 15px solid red;
}
h1{
    text-align: right;
    color: brown;
}
td{
    background-color: greenyellow;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }